<body>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="All Equipment">
      <div style="display: grid; justify-content: center">
        <app-weapons></app-weapons>
        <app-armor></app-armor>
        <app-accessories></app-accessories>
      </div>
    </mat-tab>
    <mat-tab label="Faen King">
      <p>Weapons:</p>
      <p>Armor:</p>
      <p>Accessories:</p>
    </mat-tab>
    <mat-tab label="Heinen">
      <p>Weapons:</p>
      <p>Armor:</p>
      <p>Accessories:</p>
    </mat-tab>
    <mat-tab label="Kaladin">
      <p>Weapons:</p>
      <p>Armor:</p>
      <p>Accessories:</p>
    </mat-tab>
    <mat-tab label="Magdar">
      <p>Weapons:</p>
      <p>Armor:</p>
      <p>Accessories:</p>
    </mat-tab>
    <mat-tab label="Torinn">
      <p>Weapons:</p>
      <p>Armor:</p>
      <p>Accessories:</p>
    </mat-tab>
    <mat-tab label="Yaris">
      <p>Weapons:</p>
      <p>Armor:</p>
      <p>Accessories:</p>
    </mat-tab>
  </mat-tab-group>
</body>
